.wrap {position: relative;
    height: auto;
    width: 100%;
    border-radius: 0px;
    }
    @media only screen and (max-width: 600px) {
        .header, .paineldisc, .rtdiscussoes, .painelres, .rtresumo {flex: 100%;}
      }

.sidebar{
    height: 1633px;
    width: 220px;
    left: 0px;
    top: 68px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px #00000040;
    position: fixed;
    flex: 50%;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidebar > p { position: fixed;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
}
 /**opções do sidebar**/
.rt1 {top: 326px;
    left: 0px;
    position: fixed;
    height: 33px;
    width: 220px;
    border-radius:0px;
    border-bottom: 3px inset currentColor;
}
.rt2 {top: 361px;
    left: 0px;
    position: fixed;
    height: 33px;
    width: 220px;
    border-radius:0px;
    border-bottom: 3px inset currentColor;
}
.rt3 {top: 396px;
    left: 0px;
    position: fixed;
    height: 33px;
    width: 220px;
    border-radius:0px;
    border-bottom: 3px inset currentColor;
}
.rt4{top: 431px;
    left: 0px;
    position: fixed;
    height: 33px;
    width: 220px;
    border-radius:0px;
    border-bottom: 3px inset currentColor;
}
.rt5 {top: 466px;
    left: 0px;
    position: fixed;
    height: 33px;
    width: 220px;
    border-radius:0px;
    border-bottom: 3px inset currentColor;
    background: #FDF1EB;
}
.traco {height: 33px;
    width: 5px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}
.rt6 {top: 501px;
    left: 0px;
    position: fixed;
    height: 33px;
    width: 220px;
    border-radius:0px;
    border-bottom: 3px inset currentColor;
}
h4 {position: absolute;
     top: 7px;
    left: 24px;
    margin-top: 0px;
    height: 19px;
    width: 100px;
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13.90px;
    line-height: 19px;
    color: #725C5C;
}


/**imagem do sidebar**/
.sbimg {
    height: 258px;
    width: 100%;
    left: 0;
    right: 1146;
    top: 0px;
    bottom: 0px}

/** retangulo com o nome SLACA**/
.retangulo { height: 68px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: fixed;
    right: 1146px;
    bottom: 1633px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);}

    /** Nome SLACA**/
 h1{ height: 33px;
    width: 178%;
    border-radius: nullpx;
    position: fixed;
    left: 20px;
    right: 1168px;
    top: 0px;
    bottom: 1633px;
    
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;}

.header {position:relative;
    height: 68px;
    width: 1146px;
    left: 220px;
    top: 0px;
    margin-top: -9px;
    margin-left: -8px;
    flex: 50%;
    border-radius: 0px;
    background: #FDF1EB
}

/** botão do header (language)**/
button{
    position: absolute;
    width: 97px;
    height: 34px;
    left: 789px;
    top: 17px;

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    background: url(../chuvaimg/language.png) no-repeat 8px 5px;
}

/**letras do button **/
.lb{position: absolute;
    width: 42px;
    height: 18px;
    left: 31px;
    top: 8px;
    
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #333333;
}

/**icon do button**/
.ib {
    position: absolute;
    width: 6px;
    height: 4px;
    left: 78px;
    top: 7px;
}

/**texto de bem vindo**/
.bv {position: absolute;
    width: 72px;
    height: 18px;
    left: 999px;
    top: 17px;
    margin-top: 0px;
    
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #333333;
}

.email{
    position: absolute;
    width: 163px;
    height: 15px;
    left: 908px;
    top: 36px;
    margin-top: 0px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #333333;
}

/**icone de perfil**/
.iconep{height: 30px;
    width: 30px;
    position: absolute;
    left: 94%;
    right: 2.53%;
    top: 27.94%;
    bottom: 27.94%;
    border-radius: 70%;
    background: url(../chuvaimg/imagep.png) no-repeat center;

}
/** 2 **/
.qntd{
    position: absolute;
    width: 6px;
    height: 12px;
    left: 1101px;
    top: 17px;
    margin-top: 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;

}
.notificacao{height: 12px;
    width: 12px;
    
    position: absolute;
    left: 1098px;
    top: 17px;
    margin-top: 0px;

    background: #F85959;
    border-radius: 10px;
}

 /**titulo de apresentação**/
h2{position: absolute;
    width: 786px;
    height: 54px;
    left: 263px;
    top: 74px;
    border-radius: nullpx;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #ED7839;
}

/**botão de download**/
.btndown {
    position: absolute;
    left: 1105px;
    height: 31px;
    width: 120px;
    top: 88px;

    background: #ED7839;
    border-radius: 4px;
}

/**icone de download**/
.icdown{position: absolute;
    left: 12px;
    top: 6px;
    
    font-family: Font Awesome 5 Free;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.download{
    position: absolute;
    height: 19px;
    left: 36px;
    right: 12px;
    top: calc(50% - 19px/2);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    }

.btnfav {height: 31px;
    width: 43px;
    position: absolute;
    left: 1230px;
    top: 88px;
    
    background: #ED7839;
    border-radius: 4px;
}
.icfav{
    position: absolute;
    left: 12px;
    right: 12px;
    top: 6px;
    bottom: 6px;

    font-family: Font Awesome 5 Free;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.btndoi {height: 31px;
    width: 43px;
    position: absolute;
    left: 1278px;
    right: 0.09%;
    top: 88px;
    bottom: 97.76%;
    background: #ED7839;
    border-radius: 4px;
}
.doi{
    position: absolute;
    left: 12px;
    top: 6px;
    position: absolute;
    background: url(../chuvaimg/doi.png) no-repeat;
}

.comocitar {
    position: absolute;
    height: 25px;
    width: 239px;
    left: 1083px;
    top: 131px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.05em;

    color: #ED7839;
}

/** painel de detalhes **/
.painel {position: absolute;
    width: 242px;
    height: 439px;
    left: 1079px;
    top: 161px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}
.rtdetalhes {position: absolute;
    width: 242px;
    height: 45px;
    left: 0px;
    top: 0px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}
.detalhes {position: absolute;
    width: 212px;
    height: 25px;
    left: 15px;
    top: 11px;
    margin-top: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}
/** texto dos detalhes**/
.apres {position: absolute;
    width: 212px;
    height: 364px;
    left: 15px;
    top: 50px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #5C5C5C;}
.tipo { line-height: 17px;}
.autores { line-height: 23px;}
.universidades { line-height: 17px;}
.rtscroll {position: absolute;
    width: 3px;
    height: 367px;
    left: 233px;
    top: 55px;
    
    background: #E7E7E7;
    border-radius: 5px;}
.rtscroll2 {position: absolute;
    width: 3px;
    height: 200px;
    left: 233px;
    top: 55px;
    
    background: #BFBFBF;
    border-radius: 5px;}

    /**Anais do simposio**/
.ph1{height: 16px;
     width: 391%;
    left: 36px;
    right: 719px;
    margin-top: 5px;
    border-radius: nullpx;
    position: absolute;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16,41px;
    color: #725C5C;
    }
 /**anais do 13º simposio**/
.ph2 {position: absolute;
    width: 643%;
    height: 26px;
    left: 36px;
    top: 0px;
    bottom: 19px;
            
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #725C5C;}
/**ISSN**/
.ph3 {position: absolute;
    width: 105%;
    height: 16px;
    left: 36px;
    top: 35px;
    
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16,41px;
    color: #725C5C;}

/**imagem da video apresentação**/
.videoapres {position: relative;
    width: 783px;
    height: auto;
    margin-top: -65px;
    left: 265px;
    top: 161px;
    right: 318px;
    flex: 50%;
    }
/**painel do resumo**/
.painelres { position:relative;
    width: 1058px;
    height: 189px;
    left: 263px;
    margin-top: 190px;
    flex: 50%;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;}
        
.rtresumo{position: relative;
    width: 1058px;
    height: 45px;
    margin-top: auto;
    flex: 50%;

    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}
/**titulo do resumo**/
h3{ position: absolute;
    margin-top: 0px;
    top: 10px;
    left: 15px;
    width: 1028px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #4E4E4E;
}

.textores {position:absolute;
    width: 1028px;
    height: 114px;
    left: 15px;
    top: 60px;
    flex: none;
   
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    
    color: #5C5C5C;
}

/**expansão do resumo**/
.vermais {display: inline-block;
    color: #ED7839;
    cursor: pointer;}

    /**Discussões**/
.rtdiscussoes {position: relative;
    width: 1058px;
    height: 45px;
    left: 0px;
    top: 0px;
    flex: 50%;
    
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}
.paineldisc {position: relative;
    width: 1058px;
    height: 621px;
    left: 263px;
    margin-top: 30px;
    
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;}
.compartilhe {position: absolute;
    left: 324.5px;
    top: 60px;
    margin-top: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    
    color: #ED7839;}
/** icones da discussão**/
.icone1{position: absolute;
    height: 48px;
    width: 50px;
    left: 402.5px;
    top: 109px;}
.icone2 {position: absolute;
     height: 48px;
    width: 50px;
    left: 504.5px;
    top: 109px ;}
.icone3 {position: absolute;
    height: 48px;
    width: 50px;
    top: 109px;
    left: 608.5px;}

.textotopico {position: absolute;
    left: 216.5px;
    top: 193px;
    margin-top: 0px;
    height: 39px;
    width: 626px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #595959;}
.divisoria {position: absolute;
    width: 1027px;
    height: 0px;
    left: 16px;
    top: 263px;
    border: 1px solid #E7E7E7;}
.btncriar {height: 32px;
    width: 133px;
    position: absolute;
    left: 463px;
    top: 246px;
    
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;}
.textcriar {position: absolute;
    left: 37px;
    top: 7px;
    height: 16px;
    width: 83px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    
    color: #FFFFFF}
/**icone + do button **/
.iccriar {position: absolute;
    top: 8px;
    left: 14px;
    width: 17px;
    height: 17px;}

.rtcomentario1 { position: absolute;
    height: 148px;
    width: 1028px;
    left: 15px;
    top: 293px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;}
.nome {position: absolute;
    height: 15px;
    width: 542px;
    top: 40px;
    margin-top: 0px;
    left: 24.17px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;}
.assunto {position: absolute;
    left: 24.17px;
    top: 17px;
    margin-top: 0px;
    height: 20px;
    width: 267px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
    color: #ED7839;}
.textoassunto{position: absolute;
    left: 24.17px;
    top: 65px;
    margin-top: 0px;
    height: 35px;
    width: 980.67px;
   
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17.5px;
    color: #4D4D4D;
}
.favoritar {position: absolute;
    height: 19px;
    width: 25px;
    left: 43px;
    top: 118px;
    border-radius: 2px;}
.ellipses {position: absolute;
    width: 4px;
    height: 18px;
    left: 24px;
    top: 118px;}
.like {position: absolute;
    left: 85px;
    top: 117px;
    margin-top: 0px;
   
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px; 
    color: #757575;}
.resposta {position: absolute;
    left: 129px;
    top: 117px;
    margin-top: 0px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;}
.rtcomentario2 {position: absolute;
    left: 15px;
    top: 458px;
    min-height: 185px;
    max-height: 500px;
    width: 1028px;

    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;}
#btnresposta{border: hidden;
    background: transparent;
    cursor: pointer;
    position: absolute;
    left: 124px;
    top: 110px;
    margin-top: 0px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;}
.resposta1 {position: absolute;
    height: 131px;
    width: 1028px;
    left: 0px;
    top: 160px;
    display: none;
    
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px;}
.nomeresposta{position: absolute;
    height: 15px;
    width: 542px;
    left: 23.19px;
    top: 18px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
    }
.autorecoautor {position: absolute;
    width: 38px;
    height: 18px;
    left: 902.78px;
    top: 18px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ED7839;}
.textoresposta {position: absolute;
    height: 53px;
    width: 981px;
    left: 23.19px;
    top: 43px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;}